.item {
  background-color: #283046;
  padding: .2rem;
  border-bottom: 1px solid  rgb(255,255,255,.12);
}

.item:hover{
  background-color: #161d31;
}
.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 15px;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-weight: bold;
}

.price {
  font-weight: bold;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button,.actions span {
  background-color: transparent;
  border: 1px solid  rgb(255,255,255,.12);
  padding: 0.15rem .5rem;
  color: white;
}

.actions button:hover,
.actions button:active {
  background-color: #161d31;
  color: #d0d2d6;
}
