.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
}

.modal{
  position: fixed;
  top: 10vh;
  width: 30rem;
  left: calc(75% - 20rem);
  border-radius: 14px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  box-shadow: 2px 2px 2px 2px rgb(47 54 72);
}


@media (max-width: 768px) {
    .modal {
      left: calc(60% - 20rem);
    }
  }  

  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }